.skill-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.header-skill {
  margin-bottom: 2rem;
}

.datatable {
  margin-top: 2rem;
}

.toggleheading {
  background-color: aquamarine;
  max-width: 10rem;
}
